<script setup lang="ts">
import './assets/css/tailwind.css';
import './assets/css/global.css';

useHead({
  htmlAttrs: { lang: 'en' },
  charset: 'utf-8',
  viewport: 'width=device-width, initial-scale=1',
  meta: [
    { name: 'description', content: '' },
    { name: 'theme-color', content: '#1F2937' }
  ],
  link: [
    { rel: 'icon', type: 'image/x-icon', href: '/favicon.png' }
  ]
});
</script>

<template>
  <AuthProvider>
    <div class="flex flex-col bg-gray-300 text-gray-800 min-h-screen">
      <AppNavigation />
      <NuxtPage class="flex-grow" />
      <AppFooter />
    </div>
  </AuthProvider>
</template>