<script setup lang="ts">
</script>

<template>
  <footer class="flex justify-center bg-white">
    <div class="flex flex-col container items-start px-6 py-6 sm:flex-row sm:items-end">
      &copy; Sneaker Impact 2022
    </div>
  </footer>
</template>