<script setup lang="ts">
import { Popover, PopoverButton, PopoverPanel } from '@headlessui/vue';
import { SearchIcon, PlusIcon } from '@heroicons/vue/solid';
import { MenuIcon, XIcon } from '@heroicons/vue/outline';

const { login, logout, user } = useAuth();

console.log(user.value);

const navigation = [
  { name: 'Dashboard', href: '#', current: true },
  { name: 'Calendar', href: '#', current: false },
  { name: 'Teams', href: '#', current: false },
  { name: 'Directory', href: '#', current: false },
];

const handleLogin = (provider: string) => {
  login(provider);
}

const handleLogout = () => {
  logout();
}
</script>

<template>
  <!-- When the mobile menu is open, add `overflow-hidden` to the `body` element to prevent double scrollbars -->
  <Popover as="template" v-slot="{ open }">
    <header
      :class="[open ? 'fixed inset-0 z-40 overflow-y-auto' : '', 'bg-white shadow-sm lg:static lg:overflow-y-visible']">
      <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative flex items-center">
          <div class="flex md:left-0 md:inset-y-0 lg:static xl:col-span-2">
            <div class="flex-shrink-0 flex items-center">
              <a href="/">
                <img class="block h-12 w-auto" src="/img/backdoor-logo.png" alt="Workflow" />
              </a>
            </div>
          </div>

          <div class="">
            <div class="flex items-center px-6 py-4 md:max-w-3xl md:mx-auto ">
              <div class="w-full">
                <div class="relative">
                  <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                    <SearchIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
                  </div>
                  <input id="search" name="search"
                    class="block w-full bg-white border border-gray-300 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    placeholder="Search" type="search" />
                </div>
              </div>
            </div>
          </div>

          <div v-if="!user" @click="handleLogin('google')" class="button ml-auto bg-gray-800 text-white">Sign in</div>

          <NuxtLink v-if="user" to="/form"
            class="button ml-auto text-white bg-gray-800 transition hover:bg-yellow-400 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <PlusIcon class="w-5 h-5 mr-2" /> New Listing
          </NuxtLink>

          <!-- Profile dropdown -->
          <div v-if="user" class="relative ml-5">
            <div class="user-menu_button bg-white rounded-full flex cursor-pointer">
              <img class="h-10 w-10 border-2 border-gray-800 rounded-full" :src="user.profile.logo_url" />

              <transition enter-active-class="transition ease-out duration-100"
                enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100"
                leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100"
                leave-to-class="transform opacity-0 scale-95">
                <div class="user-menu_dropdown absolute top-8 right-0 flex-col w-48 bg-white rounded-md">
                  <NuxtLink to="/profile" :params="{ slug: user.profile.slug }"
                    class="p-2 hover:bg-gray-100 rounded-md cursor-pointer">
                    Profile</NuxtLink>
                  <div @click="handleLogout" class="p-2 hover:bg-gray-100 rounded-md cursor-pointer">Sign out</div>
                </div>
              </transition>
            </div>
          </div>

          <div class="flex items-center ml-4 md:absolute md:right-0 md:inset-y-0 md:hidden">
            <!-- Mobile menu button -->
            <PopoverButton
              class="-mx-2 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
              <span class="sr-only">Open menu</span>
              <MenuIcon v-if="!open" class="block h-6 w-6" aria-hidden="true" />
              <XIcon v-else class="block h-6 w-6" aria-hidden="true" />
            </PopoverButton>
          </div>
        </div>
      </div>

      <PopoverPanel as="nav" class="lg:hidden" aria-label="Global">
        <div class="max-w-3xl mx-auto px-2 pt-2 pb-3 space-y-1 sm:px-4">
          <a v-for="item in navigation" :key="item.name" :href="item.href"
            :aria-current="item.current ? 'page' : undefined"
            :class="[item.current ? 'bg-gray-100 text-gray-900' : 'hover:bg-gray-50', 'block rounded-md py-2 px-3 text-base font-medium']">{{
                item.name
            }}</a>
        </div>
        <div class="border-t border-gray-200 pt-4 pb-3">
          <div class="max-w-3xl mx-auto px-4 flex items-center sm:px-6">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="/img/derp.png" />
            </div>
            <div v-if="user" class="ml-3">
              <div class="text-base font-medium text-gray-800">{{ user.profile.name }}</div>
            </div>
          </div>
          <div class="mt-3 max-w-3xl mx-auto px-2 space-y-1 sm:px-4">
            <!-- mobile user menu -->
          </div>
        </div>
      </PopoverPanel>
    </header>
  </Popover>
</template>

<style>
.user-menu_dropdown {
  display: none;
}

.user-menu_button:hover .user-menu_dropdown {
  display: flex;
}
</style>