@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

h1,
nav a {
  font-family: 'Paytone One', sans-serif;
}

p {
  line-height: calc(1ex / 0.32);
  max-width: 60ch;
  width: 100%;
}

/* Animations */
@keyframes move-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-down {
  0% {
    transform: translateY(-100%);
  }

  60% {
    transform: translateY(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  40% {
    transform: translateY(-10px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}