@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.woff2') format('woff2'),
      url('/fonts/Inter-Regular.woff') format('woff');
  }
}

.app-link {
  @apply decoration-4 decoration-gray-400 underline-offset-2 hover:underline hover:decoration-solid;
}

.button {
  @apply flex items-center justify-center py-2 px-4 rounded-md cursor-pointer select-none transition-all border border-transparent;
}

.button.disabled {
  @apply cursor-not-allowed;
}

.form-label {
  @apply text-xs font-bold uppercase;
}