<script setup lang="ts">
const route = useRoute();
const client = useSupabaseClient();
const { slug } = route.params;

const title = ref('');

const { data: profile } = await useAsyncData('profile', async () => {
  const { data } = await client
    .from('profiles')
    .select('*')
    .eq('slug', slug)
    .single();

  return data;
}, { initialCache: false });

console.log('Profile: ', profile.value);

title.value = profile.value?.name || 'Profile not found';

useHead({
  title: computed(() => 'S_I - ' + title.value)
});
</script>

<template>
  <div class="container mx-auto py-4 px-4 md:mt-8">
    <div v-if="profile" class="flex flex-col gap-x-20 mb-8 md:flex-row">
      <h1 class="text-2xl">{{ profile.name }}</h1>
    </div>
  </div>
</template>