<script setup lang="ts">
useHead({
  title: 'S_I - Page Not Found',
})
</script>

<template>
  <div class="container mx-auto py-4 px-4 text-center">
    <h1 class="text-3xl">404: Page Not Found</h1>
  </div>
</template>