<script setup lang="ts">
import { ref } from 'vue';
import { Switch } from '@headlessui/vue';
import { InformationCircleIcon, XIcon } from '@heroicons/vue/solid';

interface Item {
    item_name: string;
    item_quantity: string;
    item_size: string;
    item_price: string;
}

const client = useSupabaseClient();

const store_name = ref('');
const item_name = ref('');
const item_quantity = ref('');
const item_size = ref('');
const item_price = ref('');
const items = ref<Item[]>([]);
const buy = ref(true);
const confirmation = ref(false);

const handleAddItem = () => {
    if (
        item_name.value.length > 0 &&
        item_quantity.value.length > 0 &&
        item_size.value.length > 0 &&
        item_price.value.length > 0
    ) {
        items.value.push({
            item_name: item_name.value,
            item_quantity: item_quantity.value,
            item_size: item_size.value,
            item_price: item_price.value,
        }); item_name.value = '';
        item_quantity.value = '';
        item_size.value = '';
        item_price.value = '';
        buy.value = true;
    }
}

const removeItem = (idx: number) => {
    items.value.splice(idx, 1)
}

const handleSubmit = async () => {
    await useAsyncData('listings:insert', async () => {
        const { data, error } = await client
            .from('listings')
            .insert([
                {
                    store_name: store_name.value,
                    buy: buy.value,
                    items: items.value
                },
            ]);

        if (error) console.log(error);
        else confirmation.value = true; items.value = [];
    });
}

useHead({
    title: 'S_I - Create Listing',
});
</script>

<template>
    <div class="container flex flex-col mx-auto py-4 px-4 text-center">
        <h1 class="text-2xl">Create Listing</h1>

        <form @submit.prevent="handleSubmit" class="flex w-full">
            <div class="flex flex-col w-1/2 p-4">
                <div class="flex flex-col items-start">
                    <div class="flex w-full mb-8 space-x-6">
                        <div class="flex flex-col flex-1 items-start">
                            <label for="store-name">Store Name</label>
                            <input v-model="store_name" id="store-name" type="text"
                                class="h-10 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
                        </div>

                        <div class="flex flex-1 items-center">
                            <span class="mr-2">Buy</span>
                            <Switch v-model="buy"
                                :class="[buy ? 'bg-green-300' : 'bg-red-300', 'relative inline-flex flex-shrink-0 h-6 w-11 mr-2 border-2 border-white rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500']">
                                <span aria-hidden="true"
                                    :class="[buy ? 'translate-x-5' : 'translate-x-0', 'pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200']" />
                            </Switch>
                            <span>Sell</span>
                        </div>
                    </div>

                    <label for="item-name">Item Name</label>
                    <input v-model="item_name" id="item-name" type="text"
                        class="h-10 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />

                    <label for="item-quantity">Item Quantity</label>
                    <input v-model="item_quantity" id="item-quantity" type="text"
                        class="h-10 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />

                    <label for="item-size">Item Size</label>
                    <input v-model="item_size" id="item-size" type="text"
                        class="h-10 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />

                    <label for="item-price">Item Price</label>
                    <input v-model="item_price" id="item-price" type="text"
                        class="h-10 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />

                    <div @click="handleAddItem" class="button bg-orange-700 text-white mt-6">
                        Add Item
                    </div>
                </div>
            </div>

            <div class="flex flex-col w-1/2 p-4 pt-8">
                <div v-if="items.length" class="flex flex-col items-center p-2 bg-gray-200 rounded-md">
                    <div v-for="(item, idx) in items" :key="idx"
                        class="flex items-center w-full p-1 mb-2 bg-gray-300 rounded-md">
                        <div class="flex justify-center items-center mr-2 mb-1 px-2 py-1 text-sm rounded-md">
                            {{ item.item_name }}
                        </div>

                        <div
                            class="flex justify-center items-center mr-2 mb-1 px-2 py-1 bg-red-700 text-sm rounded-md text-white">
                            Size {{ item.item_size }}
                        </div>

                        <div
                            class="flex justify-center items-center mr-2 mb-1 px-2 py-1 bg-red-700 text-sm rounded-md text-white">
                            QTY {{ item.item_quantity }}
                        </div>

                        <div
                            class="flex justify-center items-center mr-2 mb-1 px-2 py-1 bg-red-700 text-sm rounded-md text-white">
                            $ {{ item.item_price }}
                        </div>
                        <XIcon class="w-5 h-5 text-red-500 ml-auto" @click="removeItem(idx)" />
                    </div>
                </div>

                <div v-else class="flex items-center justify-center p-2 bg-gray-200 text-gray-400 rounded-md">
                    <InformationCircleIcon class="w-6 h-6 mr-2 text-gray-300" /> Empty
                </div>

                <button v-if="items.length > 0" type="submit"
                    class="flex items-center justify-center mt-4 py-2 px-4 rounded-md cursor-pointer select-none transition-all bg-indigo-700 text-white hover:bg-indigo-600">
                    Create Listing
                </button>

                <div v-if="confirmation"
                    class="mt-2 p-2 bg-green-100 text-green-800 border-2 border-green-200 rounded-md">
                    Listing has been posted
                </div>
            </div>
        </form>
    </div>
</template>