<script setup lang="ts">
import { MailIcon } from '@heroicons/vue/solid';

const client = useSupabaseClient();

const { data: listings } = await useAsyncData('listings:select', async () => {
  let { data, error } = await client
    .from('listings')
    .select('*');

  return data;
});

useHead({
  title: 'S_I - Home',
});
</script>

<template>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <ul role="list" class="grid grid-cols-1 gap-6 lg:grid-cols-2 xl:grid-cols-3">
      <li v-for="listing in listings" :key="listing.id"
        class="flex flex-col col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
        <div class="w-full flex items-center justify-between p-6 space-x-6">
          <div class="flex-1 truncate">
            <div class="flex items-center ">
              <h3 class="text-gray-900 text-lg truncate mr-4">{{ listing.store_name }}</h3>

              <span class="flex-shrink-0 inline-block px-3 py-1 text-xs font-medium rounded-full"
                :class="listing.buy ? 'text-green-800 bg-green-200' : 'text-red-800 bg-red-200'">
                {{ listing.buy ? 'Buy' : 'Sell' }}
              </span>

              <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0 ml-auto" :src="listing.store_logo_url" />
            </div>
            <div v-for="item in listing.items" class="mt-2 flex bg-gray-200 rounded-md p-1">
              <div class="flex justify-center items-center mr-2 mb-1 px-2 py-1 text-sm rounded-md text-gray-700">
                {{ item.item_name }}
              </div>
              <div
                class="flex justify-center items-center mr-2 mb-1 px-2 py-1 bg-red-700 text-center text-sm rounded-md text-white">
                Size {{ item.item_size }}
              </div>
              <div
                class="flex justify-center items-center mr-2 mb-1 px-2 py-1 bg-red-700 text-center text-sm rounded-md text-white">
                QTY {{ item.item_quantity }}
              </div>
              <div
                class="flex justify-center items-center mr-2 mb-1 px-2 py-1 bg-red-700 text-center text-sm rounded-md text-white">
                $ {{ item.item_price }}
              </div>
            </div>
          </div>
        </div>

        <div class="mt-auto hover:bg-gray-100 rounded-b-lg">
          <div class="-mt-px flex divide-x divide-gray-200">
            <div class="w-0 flex-1 flex">
              <a :href="`mailto:${listing.email}`"
                class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                <MailIcon class="w-5 h-5 text-gray-400" aria-hidden="true" />
                <span class="ml-3">Email</span>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>